:root {
    --bold: 700;
    --background: #191A1D;
    --boxBg: #24282F;
    --box: #2B3038;
    --textColor: #FFF;
    --textFaded: #d9d9d9;
    --input-text: rgba(var(--textColor), .5);
    --gap: 8px;
    --largeGap: 16px;
    --smallGap: 4px;
    --borderRadius: 12px;
  }

* {
    box-sizing: border-box;
    font-family: 'Miriam Libre', sans-serif;
}


body {
    background: var(--background);
    font-family: 'Miriam Libre', sans-serif;
    padding: var(--largeGap);
    color: var(--textColor);
}

a {
    color: var(--textColor);
    font-weight: var(--bold);
    text-decoration: none;

    &:hover {
        color: var(--textFaded)
    }
}

.flex-center {
    display: flex;
    align-items: center;
    gap: var(--gap);
}

.btn-primary {
    padding: 8px 16px;
    background-color: var(--box);
    border-radius: var(--borderRadius);

    &:hover {
        background-color: var(--boxBg);
        color: var(--textFaded);
    }
}


header {
    justify-content: space-between;

    .logo-container {
        width: 100px;
    }

    .primary-nav {
        gap: 16px;

        .divider-vertical {
            width: 1px;
            height: 16px;
            background: var(--textFaded); 
            opacity: .5;
        }
    }
}

.container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .content {
        width: 80%;
        max-width: 800px;
        padding: var(--largeGap);
        background: var(--boxBg);
        border-radius: var(--borderRadius);
        display: flex;
        flex-direction: column;
        gap: var(--gap);

        .field {
            background: var(--box);
            border-radius: var(--borderRadius);
            padding: var(--gap);
            display: flex;
            align-items: center;
            gap: var(--gap);
        }

        .lon-form {

            input {
                padding: var(--gap);
                border-radius: 8px;
                border: none;
                background: var(--boxBg);

                &:focus {
                    outline: none;
                    color: var(--textColor);
                }

                &:active {
                    color: var(--textColor);
                }

            }
        }
    }

}