:root {
    --bold: 700;
    --background: #191A1D;
    --boxBg: #24282F;
    --box: #2B3038;
    --textColor: #FFF;
    --textFaded: #d9d9d9;
    --input-text: rgba(var(--textColor), .5);
    --gap: 8px;
    --largeGap: 16px;
    --smallGap: 4px;
    --borderRadius: 12px;
  }

body,html {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}


body {
    background: var(--background);
    font-family: 'Miriam Libre', sans-serif;
    padding: var(--largeGap);
    color: var(--textColor);
    font-size: 14px;
    display: flex;
    flex-direction: column;
    gap: 48px;
}

a {
    color: var(--textColor);
    font-weight: var(--bold);
    text-decoration: none;

    &:hover {
        color: var(--textFaded)
    }
}

.flex-center {
    display: flex;
    align-items: center;
    gap: var(--gap);
}

.btn-primary {
    padding: 8px 16px;
    background-color: var(--box);
    border-radius: var(--borderRadius);

    &:hover {
        background-color: var(--boxBg);
        color: var(--textFaded);
    }
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* background-color: rgba(36, 40, 47, .5); */
    background-color: var(--boxBg);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 100px;
    overflow: hidden;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 3px;
    background-color: var(--textFaded);
    -webkit-transition: .2s ease;
    transition: .2s ease;
    border-radius: 100%;
  }
  
  input:checked + .slider {
    background-color: var(--background);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
  }

  .toggle-container {
    display: flex;
    flex-direction: column;
    .description {
        font-size: 8px;
        color: var(--textFaded);
      }

  }



header {
    justify-content: space-between;

    .logo-container {
        width: 100px;
    }

    .primary-nav {
        gap: 16px;

        .divider-vertical {
            width: 1px;
            height: 16px;
            background: var(--textFaded); 
            opacity: .5;
        }
    }
}

/* Customize the label (the container) */
.check-container {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding-right: 48px!important;
    position: relative;
  }
  
  /* Hide the browser's default checkbox */
  .check-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    color: var(--textFaded);
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    height: 32px;
    width: 32px;
    border-radius: var(--borderRadius);
    background-color: var(--boxBg);
  }
  
  /* On mouse-over, add a grey background color */
  .check-container:hover input ~ .checkmark {
    /* background-color: var(--background); */
  }
  
  /* When the checkbox is checked, add a blue background */
  .check-container input:checked ~ .checkmark {
    /* background-color: #2196F3; */
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .check-container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .check-container .checkmark:after {
    left: 12px;
    top: 8px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

.container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 32px;

    .field-header {
        height: 70px!important;
    }

    .content {
        width: 80%;
        max-width: 900px;
        padding: var(--largeGap);
        background: var(--boxBg);
        border-radius: var(--borderRadius);
        display: flex;
        flex-direction: column;
        gap: var(--gap);

        .field {
            background: var(--box);
            border-radius: var(--borderRadius);
            padding: var(--gap);
            display: flex;
            align-items: center;
            gap: var(--gap);
            position: relative;
            height: 50px;
            width: 100%;
        }

        .meta {
            position: absolute;
            right: 8px;
            font-weight: var(--bold);
            height: 22px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 27px;
            background-color: var(--boxBg);
            user-select: none;
        }

        .lon-form {
            display: flex;
            flex-direction: column;
            gap: var(--gap);

            input {
                padding: var(--gap);
                border-radius: 8px;
                border: none;
                background: var(--boxBg);
                color: white;
                text-wrap: nowrap;
                width: 100%;

                &:focus {
                    outline: none;
                    color: var(--textColor);
                }

                &:active {
                    color: var(--textColor);
                }

            }

            #lon {
                width: auto;

                #inp-lon {
                    width: 88px;
                }

            }

            #pension {
                width: auto;

                #inp-pension {
                    width: 110px;
                }
            }
        }
    }

}

.jobs-grid {
  display: grid;
  grid-template-columns: [Del] 30px [Job] 135px [Pension] 60px [Bonus] 60px [Frit] 60px [Hours] 60px [Phone] 60px [Internet] 60px [Lunch] 60px [Pay] 140px [Gross] 1fr;
  padding: var(--gap);

  .checkmark {
    width: 24px;
    height: 24px;
    border-radius: 8px;

    &::after {
      left: 9px;
      top: 6px;
      width: 4px;
      height: 8px;
      border-width: 0 2px 2px 0;; 
    }
  }

  .center {
    text-align: center;
  }

  .right {
    text-align: right;
  }

  .pay {
    margin-left: 16px;
  }

}

.jobs-grid-header {
  color: var(--textFaded);
  opacity: .5;
  text-transform: uppercase;
  font-size: 11px;
  padding: 0 var(--gap) 0 var(--gap);
}

.jobs-wrap {
  display: flex;
  flex-direction: column;
  gap: var(--gap);

  .jobs-container {
    background-color: var(--box);
    border-radius: var(--borderRadius);
    height: 40px;
    align-items: center;
  
    .pay-gross {
      font-weight: var(--bold);
    }
  
  }

}
